.contacts {
    padding: 36px 20px 80px;
    overflow: hidden;
}
.contacts__header {
margin-bottom: 48px;
font-family: $second-family;
font-weight: 700;
font-size: 64px;
line-height: 90%;
letter-spacing: 0.02em;

}
.contacts__box {
    display: grid;
    grid-template-columns: minmax(490px, 1fr) 1fr;
    min-height: 469px;
   
}

.contacts__map {
    grid-column: 1/2;
    background:url(./../image/image_maps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 469px;
}

//скрытие нижней панели на карте и показ при наведении

[class*="copyrights-pane"] {
	/* display: none !important; */
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.contacts__map:hover [class*="copyrights-pane"] {
    opacity: 1;
}

/* откл.Создать свою карту */
[class*="gototech"] {
    display: none !important;
}

.contacts__info {
    position: relative;
    padding-top: 42px;
    padding-left: 79px;
    padding-right: 20px;
    padding-bottom: 40px;
    grid-column: 2/3;
    // background: #fff3d6;

    &::before {
        position: absolute;
        content: "";
        width: 742px;
        height: 742px;
        background: url(./../image/background_yel2.png);
        background-repeat: no-repeat;
        top:-110px;
        left:-130px;
        z-index: -1;
        
    }
}

.contacts__info-title {
padding-top: 18px ;
font-weight: 600;
line-height: 130%;
}

.contacts__info-text {
    padding-top: 18px;
    font-weight: 400;
}

.contacts__info-text span {
    font-weight: 600;  
}

.contacts__box-link {
    width: 190px;  
    padding-top: 5px;
}
.contacts__link {
display: block;
font-family: $font-family;
font-weight: 400;
font-size: 18px;
line-height: 130%;
color: #151515;
transition: all 0.2s linear;

&:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color:#6100dc;
}
}

.contacts__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 113px;
    height: 51px;
    margin-top: 48px;
}

.social__link {
    position: relative;
    z-index: 2;
    transition: 0.2s linear;
   
}

.social__link:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);

  }

@include Tablet {

    .contacts__header {
        font-size: 36px;
    }
   
    .contacts__info {
        padding-left: 50px;
        padding-right: 20px;
        
}
.contacts__link,
.contacts__info-text,
.contacts__info-title {
    font-size: 16px;
}


}

@include Mobile {
    .contacts__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 469px 1fr;
        padding:  0px;
       
    }
    .contacts__map {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .contacts__info {
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 79px;
        padding-right: 20px;
        background: #fff3d6;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    
        &::before {
           display: none;   
        }
       
    }
}

@include X-Mobile {
    .contacts {
        padding: 36px 10px 80px;
}
.contacts__info {
    padding-left: 50px;
   
}

}