.header {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    background: #f7f6ff;
    height: 80px;
}

.header__link-logo {
    margin-left: 20px;
}

.header__top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    gap: 17px;
    width: 800px;
}

.header__top-button {
    display: flex;
    max-width: 578px;
    gap: 17px;
}

.header__link-button {
    padding: 12px 30px 13px;
    border: 1px solid #521a99;
    border-radius: 10px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    white-space: nowrap;
    color: #521a99;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #521a99;
        color: white;
    }
}

.header__top-tel {
    width: 152px;
}

.header__link-tel {
    display: block;
    white-space: nowrap;
    font-weight: 600;
    line-height: 130%;
    text-align: right;
    color: #151515;

    &:hover {
        color: #6100dc;
    }
}

/* Nav Icon */

.header__nav-btn {
    display: none;
}

.nav-icon-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 1px;
    --line-margin: 2;
    --color: #151515;
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
    top: calc(var(--line-height) * -8);
}

.nav-icon::after {
    top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
    background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
    top: 0;
    transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
    transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
    transform: rotate(-45deg);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 938px;
}

.nav__link {
    font-weight: 600;
    line-height: 100%;
    padding: 15px 0;
    text-align: center;
    white-space: nowrap;
    color: #151515;

    &:hover {
        color: #6100dc;
    }
}

.header__info {
    height: 643px;
    padding-bottom: 33px;
    background: url(./../image/background1.png);
    background-repeat: no-repeat;
    background-position: bottom;

}

.header__info-box {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background: url(./../image/foto1.png);
    background-repeat: no-repeat;
    background-position: bottom 32px right 20px;
    background-size: 352px;
}

.header__info-title {
    max-width: 788px;
    padding-top: 67px;
    padding-bottom: 38px;
    font-family: $second-family;
    font-weight: 700;
    font-size: 62px;
    line-height: 95%;
    color: #46108a;

    &_white {
        color: white;
    }

}

.header__info-text {
    margin-bottom: 50px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    background-image: url(./../image/icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    color: #fff;
}

.header__info-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    height: 70px;
    border: 1px solid #6100dc;
    border-radius: 20px;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    background: #6100dc;
    color: white;
    transition: background 0.3s ease-in-out,
        color 0.3s ease-in-out;

    &:hover {
        background: #f7f6ff;
        color: #46108a;
    }
}

.header__info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    gap: 17px;
}

.header__info-item {
    display: flex;
    align-items: center;
    width: 360px;
    height: 127px;
    padding: 0 20px 0 47px;
    border-radius: 20px;
    background: #96e0f1;
    background-image: url(./../image/icon_w.svg);
    background-repeat: no-repeat;
    background-position: left 17px center;
    background-size: 20px;
}

.header__info-item-text {
    font-weight: 500;
    line-height: 130%;
}

.header__info-item-text span {
    font-weight: 700;
}


.header__menu-up {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 80px;
    right: -270px;
    width: 244px;
    border-bottom-left-radius: 20px;
    background: #f7f6ff;
    padding: 24px 24px 40px;
    row-gap: 24px;

    transition: right 0.8s ease-in-out;
}

.menu_show {
    right: 0;
}

.header__up-lists li {
    margin-bottom: 7px;

}

.nav__up-link {
    font-weight: 600;
    line-height: 100%;
    padding: 5px 0;
    white-space: nowrap;
    font-size: 16px;
    color: #151515;
}

.header__up-link-button {
    padding: 12px 20px 13px;
    border: 1px solid #521a99;
    background: #521a99;
    border-radius: 10px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    font-size: 16px;
}


@include Desktop {
    .header__info-title {
        max-width: 600px;
        font-size: 52px;
    }

    .header__info-text {
        font-size: 22px;
    }
}

@include Tablet {
    .header__top-right {
        justify-content: flex-end;
        width: auto;
    }

    .header__menu,
    .header__top-button {
        display: none;
    }

    .header__nav-btn {
        display: block;
    }

    .header__menu-up {
        display: flex;
    }

    .header__info-title {
        max-width: 370px;
        font-size: 36px;
    }

    .header__info-text {
        max-width: 370px;
    }

    .header__info-link-button {
        font-size: 16px;
        height: 60px;
        max-width: 320px;
        border-radius: 15px;
    }

    .header__link-tel,
    .header__info-item-text {
        font-size: 16px;
    }
}

@include Mobile {

    .header__info {
        height: auto;
        background-position: top center;
    }

    .header__info-box {
        background: none;

    }

    .header__info-title {
        max-width: 470px;
    }

    .header__info-text {
        max-width: 520px;
    }

    .header__info-bottom {
        flex-direction: column;
        align-items: center;

    }


}

@include X-Mobile {

    .header__link-logo {
        margin-left: 10px;
    }

    .header__top-tel {
        display: none;
    }

    .header__top-right {
        margin-right: 10px;
        
    }

    .header__info-box {
        padding-left: 10px;
        padding-right: 10px;
    
    }

    .header__info-item {
        width: auto;
        max-width: 360px;
    }
}