.questions {
    padding: 0 20px;
    margin-bottom: 70px;
}

.questions__header {
    margin-bottom: 50px;
    font-family: $second-family;
    font-weight: 700;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: 0.02em;
}

.questions__box {
    margin: 0 auto;
    max-width: 960px;
}

.questions__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #d9d0ff;
    height: 60px;
    padding-right: 11px;
    padding-left: 30px;
    background: #d9d0ff;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #151515;
    transition: background 0.3s ease-in-out,
    color 0.3s ease-in-out;
   

    &:hover {
        background: #f7f6ff; 
        border-color: #6100dc;
    }

}

.questions__list-icon {
    min-width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #6100dc;
    background-image:url(./../image/Line_v.svg),
    url(./../image/Line_g.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
   
}

@include Tablet {

    .questions {
        margin-bottom: 54px;
}

.questions__header {
    font-size: 36px;
}

.questions__link {
    font-size: 16px;
}


}

@include X-Mobile {

    .questions {
        padding: 0 10px; 
    }

    .questions__link {
        height: auto;
        min-height: 60px;

    }
}