.reviews {
    margin-bottom: 120px;
    padding: 0 20px;
}

.reviews__top {
    display: flex;
    justify-content: space-between;
}

.reviews__header {
    font-family: $second-family;
    font-weight: 700;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: 0.02em;
}
.reviews__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.reviews-button-next,
.reviews-button-prev {
border: 2px solid #6100dc;
border-radius: 100%;
width: 50px;
height: 50px;
color: white;
background: #6100dc;

&:after {
    font-size: 26px;
}
}

.reviews-button-prev.swiper-button-disabled,
.reviews-button-next.swiper-button-disabled {
    background: #fff;
    color:#6100dc;
    opacity: 1;
   
}

.swiper-pagination_reviews {
    display: none;
}

.reviewsSwiper {
    max-width: 100%;
    height: 100%;
}

.swiper-wrapper_reviews {
    margin: 50px auto;
    min-height: 385px;
}

.swiper-slide_reviews {
    min-height: 385px;
    border-radius: 30px;
    padding: 40px 20px 20px 30px;
    background: #fff3d6;
}

.reviews__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.reviews__text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;  
}

.reviews__link {
font-weight: 600;
font-size: 18px;
line-height: 140%;
color: #151515;

}

.reviews__link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 360px;
    height: 70px;
    border: 1px solid #6100dc;
    border-radius: 20px;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    background: #6100dc;
    color: white;
    transition: background 0.3s ease-in-out,
    color 0.3s ease-in-out;
   

    &:hover {
        background: #f7f6ff;
        color: #46108a;
    }

}

@include Tablet {
    .reviews {
        margin-bottom: 90px;
    }

    .reviews__header {
        font-size: 36px;
        line-height: 90%;
}

.reviews__button {
   min-width: 130px;
}

.reviews-button-next,
 .reviews-button-prev {
    width: 48px;
    height: 48px;   
}

.reviews-button-next:after,
.reviews-button-prev:after {
    font-size: 24px;
}

.reviews__link,
.reviews__name,
.reviews__text {  
    font-size: 16px;
   
}

.reviews__link-button {
    font-size: 16px;
    width: 290px;
    height: 60px;
    border-radius: 15px;

}
}

@include X-Mobile {

    .reviews {
        padding: 0 10px;
    }

    .reviews__button {
            min-width: 90px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    
        .swiper-pagination_reviews {
            display: flex;
            justify-content: flex-end;
            top: 20px;
            height: 26px;
            padding-right: 20px;
           
        }

        .reviews__link-button {
            width: auto;
            max-width: 290px;
        }

    }
